Repository blogmops/blogmops, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dependencies, test, documentaion

.github/labeler.yml:

github_actions:
- .github/**/*.yml

dependencies:
- src/node_modules/**/*.js

test:
- cypress/integration/*.spec.js

documentaion:
- '*.md'

frontend:
- any: ['src/**/*.js', 'src/*.html', 'src/**/*.svelte', 'src/**/*.scss']
  all: ['!src/node_modules', '!src/server.js', '!src/client.js', '!src/service-worker.js', '!cypress/*', '!.vscode/*']

backend:
- any: ['src/server.js', 'src/client.js', 'src/service-worker.js']
  all: ['!src/*.html', '!src/**/*.js', '!src/**/*.svelte', '!src/**/*.scss', '!cypress/*', '!.vscode/*']

feature/update (#468)
  yarn.lock
Labels: none

Add: browserslist
  package.json
  yarn.lock
Labels: none

Change: browserslist
  package.json
Labels: none

Main (#469)
  package.json
  yarn.lock
Labels: none

Fix: rollup config
  rollup.config.js
Labels: none

Add: codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions

Update cypress.yml
  .github/workflows/cypress.yml
Labels: github_actions

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions

Update triage.yml
  .github/workflows/triage.yml
Labels: github_actions

Update wip.yml
  .github/workflows/wip.yml
Labels: github_actions

Update cypress.yml
  .github/workflows/cypress.yml
Labels: github_actions

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions

feature/merge (#470)
  .github/workflows/codeql-analysis.yml
  .github/workflows/cypress.yml
  .github/workflows/triage.yml
  .github/workflows/wip.yml
  rollup.config.js
Labels: github_actions

Change: yarn packages
  .env
  .env.example
  cypress.json
  yarn.lock
Labels: none

Update README.md
  README.md
Labels: documentaion

Update .editorconfig
  .editorconfig
Labels: none

Update .editorconfig (#472)
  .editorconfig
Labels: none

Change: merge main into production (#471)
  .editorconfig
  .env
  .env.example
  README.md
  cypress.json
  yarn.lock
Labels: documentaion

Update cypress.json
  cypress.json
Labels: none

Main (#474)
  cypress.json
Labels: none

Update README.md
  README.md
Labels: documentaion

Update README.md (#477)
  README.md
Labels: documentaion

Create ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Labels: github_actions

Update ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Labels: github_actions

Update ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Labels: github_actions

Update ossar-analysis.yml (#479)
  .github/workflows/ossar-analysis.yml
Labels: github_actions

Main (#481)
  .github/workflows/ossar-analysis.yml
Labels: github_actions

Create ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Delete ossar-analysis.yml
  .github/workflows/ossar-analysis.yml
Labels: github_actions

Update ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Update README.md
  README.md
Labels: documentaion

Create ossar.yml (#483)
  .github/workflows/ossar-analysis.yml
  .github/workflows/ossar.yml
  README.md
Labels: github_actions, documentaion

Change: media query
  src/components/Posts.svelte
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: github_actions

Update: packages
  .yarnclean
  README.md
  yarn.lock
Labels: documentaion

Change: update
  .github/workflows/cypress.yml
  .github/workflows/ossar.yml
Labels: github_actions

Delete ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

feature/update (#485)
  .github/workflows/cypress.yml
  .yarnclean
  README.md
  yarn.lock
Labels: github_actions, documentaion
