Repository blogmops/blogmops, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dependencies, test, documentaion

Update vercel-cypress.yml
  .github/workflows/vercel-cypress.yml
Labels: github_actions

Update ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Update wip.yml
  .github/workflows/wip.yml
Labels: github_actions

Update and rename vercel-cypress.yml to cypress.yml
  .github/workflows/cypress.yml
  .github/workflows/vercel-cypress.yml
Labels: github_actions

Update cypress.json
  cypress.json
Labels: none

Update cypress.yml
  .github/workflows/cypress.yml
Labels: github_actions

Update cypress.yml
  .github/workflows/cypress.yml
Labels: github_actions

Update cypress.json
  cypress.json
Labels: none

Update cypress.json
  cypress.json
Labels: none

Update cypress.json
  cypress.json
Labels: none

Create vercel-cypress.yml (#452)
  .github/workflows/cypress.yml
  .github/workflows/gitguardian
  .github/workflows/ossar.yml
  .github/workflows/triage.yml
  .github/workflows/wip.yml
  cypress.json
Labels: github_actions

Delete ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Delete ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Create vercel-cypress.yml (#452)
  .github/workflows/cypress.yml
  .github/workflows/gitguardian
  .github/workflows/ossar.yml
  .github/workflows/triage.yml
  .github/workflows/wip.yml
  cypress.json
Labels: github_actions

Update cypress.yml
  .github/workflows/cypress.yml
Labels: github_actions

Create vercel-cypress.yml (#452)
  .github/workflows/ossar.yml
Labels: github_actions

Update cypress.yml
  .github/workflows/cypress.yml
Labels: github_actions

Delete ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Update README.md
  README.md
Labels: documentaion

feature/merge (#456)
  README.md
Labels: documentaion

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-replace from 2.2.1 to 2.4.2
  package.json
  yarn.lock
Labels: none

fix: upgrade rollup-plugin-svelte from 5.0.3 to 5.2.3
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-node-resolve from 7.0.0 to 7.1.3
  package.json
  yarn.lock
Labels: none

fix: upgrade dayjs from 1.10.4 to 1.10.8
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-node-resolve from 7.0.0 to 7.1.3
  package.json
  yarn.lock
Labels: none

fix: upgrade dayjs from 1.10.4 to 1.10.8
  package.json
  yarn.lock
Labels: none

fix: upgrade rollup-plugin-svelte from 5.0.3 to 5.2.3 (#460)
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-replace from 2.2.1 to 2.4.2 (#459)
  package.json
  yarn.lock
Labels: none

fix: upgrade multiple dependencies with Snyk (#458)
  package.json
  yarn.lock
Labels: none

fix: upgrade reading-time from 1.2.1 to 1.5.0
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-commonjs from 11.0.2 to 11.1.0
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-json from 4.0.3 to 4.1.0
  package.json
  yarn.lock
Labels: none

fix: upgrade reading-time from 1.2.1 to 1.5.0 (#463)
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-json from 4.0.3 to 4.1.0 (#465)
  package.json
  yarn.lock
Labels: none

fix: upgrade @rollup/plugin-commonjs from 11.0.2 to 11.1.0 (#464)
  package.json
  yarn.lock
Labels: none

Update: yarn.lock
  yarn.lock
Labels: none

Update: yarn.lock
  yarn.lock
Labels: none

Feature/update (#466)
  package.json
  yarn.lock
Labels: none

Feature/update (#466) (#467)
  yarn.lock
Labels: none

.github/labeler.yml:

github_actions:
- .github/**/*.yml

dependencies:
- src/node_modules/**/*.js

test:
- cypress/integration/*.spec.js

documentaion:
- '*.md'

frontend:
- any: ['src/**/*.js', 'src/*.html', 'src/**/*.svelte', 'src/**/*.scss']
  all: ['!src/node_modules', '!src/server.js', '!src/client.js', '!src/service-worker.js', '!cypress/*', '!.vscode/*']

backend:
- any: ['src/server.js', 'src/client.js', 'src/service-worker.js']
  all: ['!src/*.html', '!src/**/*.js', '!src/**/*.svelte', '!src/**/*.scss', '!cypress/*', '!.vscode/*']
