Repository blogmops/blogmops, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dependencies, test, documentaion

Change: gitignore (#424)
  .gitignore
Labels: none

release/v0.8.0-alpha (#426)
  .gitignore
Labels: none

Create .imgbotconfig
  .imgbotconfig
Labels: none

feature/imgbotconfig (#428)
  .imgbotconfig
Labels: none

Update .imgbotconfig
  .imgbotconfig
Labels: none

feature/imgbot (#429)
  .imgbotconfig
Labels: none

feature/merge (#430)
  .imgbotconfig
Labels: none

Update README.md
  README.md
Labels: documentaion

Update README.md
  README.md
Labels: documentaion

Update README.md (#431)
  README.md
Labels: documentaion

Update README.md (#431) (#432)
  README.md
Labels: documentaion

Fix: rollup warning
  rollup.config.js
Labels: none

Fix: rollup warning
  rollup.config.js
Labels: none

Fix: rollup warning
  rollup.config.js
Labels: none

feature/frontend: Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

feature/frontend: Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Delete feature.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Delete feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

Delete feature.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Delete feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

Delete feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

Delete feature.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Delete feature.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Delete feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

Delete feature.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Delete feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

feature/frontend: Add issue templates
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: none

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: github_actions

feature/config (#446)
  .github/ISSUE_TEMPLATE/config.yml
Labels: github_actions

Change: vscode settings
  blogmops.code-workspace
Labels: none

feature/vscode (#450)
  blogmops.code-workspace
Labels: none

Create vercel-cypress.yml
  .github/workflows/vercel-cypress.yml
Labels: github_actions

feature/vscode (#450)
  blogmops.code-workspace
Labels: none

Update wip.yml
  .github/workflows/wip.yml
Labels: github_actions

Update wip.yml
  .github/workflows/wip.yml
Labels: github_actions

Update and rename wip.yml to check-wip.yml
  .github/workflows/check-wip.yml
Labels: github_actions

Create ossar.yml
  .github/workflows/ossar.yml
Labels: github_actions

Update triage.yml
  .github/workflows/triage.yml
Labels: github_actions

Update gitguardian
  .github/workflows/gitguardian
Labels: none

Update and rename check-wip.yml to wip.yml
  .github/workflows/wip.yml
Labels: github_actions

.github/labeler.yml:

github_actions:
- .github/**/*.yml

dependencies:
- src/node_modules/**/*.js

test:
- cypress/integration/*.spec.js

documentaion:
- '*.md'

frontend:
- any: ['src/**/*.js', 'src/*.html', 'src/**/*.svelte', 'src/**/*.scss']
  all: ['!src/node_modules', '!src/server.js', '!src/client.js', '!src/service-worker.js', '!cypress/*', '!.vscode/*']

backend:
- any: ['src/server.js', 'src/client.js', 'src/service-worker.js']
  all: ['!src/*.html', '!src/**/*.js', '!src/**/*.svelte', '!src/**/*.scss', '!cypress/*', '!.vscode/*']
