Repository blogmops/blogmops, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dependencies, test, documentaion

.github/labeler.yml:

github_actions:
- .github/**/*.yml

dependencies:
- src/node_modules/**/*.js

test:
- cypress/integration/*.spec.js

documentaion:
- '*.md'

frontend:
- any: ['src/**/*.js', 'src/*.html', 'src/**/*.svelte', 'src/**/*.scss']
  all: ['!src/node_modules', '!src/server.js', '!src/client.js', '!src/service-worker.js', '!cypress/*', '!.vscode/*']

backend:
- any: ['src/server.js', 'src/client.js', 'src/service-worker.js']
  all: ['!src/*.html', '!src/**/*.js', '!src/**/*.svelte', '!src/**/*.scss', '!cypress/*', '!.vscode/*']

Change: update
  .yarnclean
Labels: none

feature/update main (#486)
  .github/dependabot.yml
  .github/workflows/cypress.yml
  .yarnclean
  README.md
  src/components/Posts.svelte
  yarn.lock
Labels: github_actions, documentaion

Update package.json
  package.json
Labels: none

Revert rollup plugin
  package.json
  yarn.lock
Labels: none

Feature/revert (#520)
  package.json
  yarn.lock
Labels: none

Update: dependency
  .yarnclean
  __sapper__/dev/build.json
  __sapper__/dev/client/Breadcrumb-b2e3c78a.css
  __sapper__/dev/client/Breadcrumb.9ccf29fd.js
  __sapper__/dev/client/_page(_0-9__)_.037efc70.js
  __sapper__/dev/client/_slug_-7b686720.css
  __sapper__/dev/client/_slug_.d39f1d69.js
  __sapper__/dev/client/about-5eeacafb.css
  __sapper__/dev/client/about.27d1e9cf.js
  __sapper__/dev/client/client-17a0f237.css
  __sapper__/dev/client/client.1943e78f.js
  __sapper__/dev/client/client.67ef796d.js
  __sapper__/dev/client/contact-3f695e30.css
  __sapper__/dev/client/contact.b79c86aa.js
  __sapper__/dev/client/index-e1261fc1.css
  __sapper__/dev/client/index.1e89127b.js
  __sapper__/dev/client/inject_styles.803b7e80.js
  __sapper__/dev/client/sapper-dev-client.1e7a4a5e.js
  __sapper__/dev/client/shimport@2.0.5.js
  __sapper__/dev/server/server.js
  __sapper__/dev/service-worker.js
  cypress/screenshots/spec.js/Sapper template app -- has the correct h1 (failed).png
  cypress/screenshots/spec.js/Sapper template app -- navigates to about (failed).png
  cypress/screenshots/spec.js/Sapper template app -- navigates to blog (failed).png
  package.json
  src/node_modules/@sapper/app.mjs
  src/node_modules/@sapper/internal/manifest-client.mjs
  src/node_modules/@sapper/internal/manifest-server.mjs
  src/node_modules/@sapper/server.mjs
  src/node_modules/@sapper/service-worker.js
  yarn.lock
Labels: dependencies
