Repository blogmops/blogmops, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, dependencies, test, documentaion

.github/labeler.yml:

github_actions:
- .github/**/*.yml

dependencies:
- src/node_modules/**/*.js

test:
- cypress/integration/*.spec.js

documentaion:
- '*.md'

frontend:
- any: ['src/**/*.js', 'src/*.html', 'src/**/*.svelte', 'src/**/*.scss']
  all: ['!src/node_modules', '!src/server.js', '!src/client.js', '!src/service-worker.js', '!cypress/*', '!.vscode/*']

backend:
- any: ['src/server.js', 'src/client.js', 'src/service-worker.js']
  all: ['!src/*.html', '!src/**/*.js', '!src/**/*.svelte', '!src/**/*.scss', '!cypress/*', '!.vscode/*']

Change: cypress ci
  .github/workflows/cypress.yml
Labels: github_actions

Remove: github_action e2e
  .github/workflows/e2e.yml
Labels: github_actions

Change: readme
  README.md
  src/node_modules/@sapper/service-worker.js
Labels: dependencies, documentaion

feature/preview (#407)
  .github/workflows/cypress.yml
  .github/workflows/e2e.yml
  README.md
  src/node_modules/@sapper/service-worker.js
Labels: github_actions, dependencies, documentaion

Change: builded files
  src/node_modules/@sapper/service-worker.js
Labels: dependencies

Remove: service-worker
  src/node_modules/@sapper/service-worker.js
Labels: dependencies

Remove: node_modules
  src/node_modules/@sapper/app.mjs
  src/node_modules/@sapper/index.d.ts
  src/node_modules/@sapper/internal/App.svelte
  src/node_modules/@sapper/internal/error.svelte
  src/node_modules/@sapper/internal/layout.svelte
  src/node_modules/@sapper/internal/manifest-client.mjs
  src/node_modules/@sapper/internal/manifest-server.mjs
  src/node_modules/@sapper/internal/shared.mjs
  src/node_modules/@sapper/server.mjs
  src/node_modules/@sapper/service-worker.js
Labels: dependencies

Change: cypress to local tests only
  .github/workflows/cypress.yml
  cypress.json
  package.json
Labels: github_actions

Change: cypress to local tests only (#410)
  .github/workflows/cypress.yml
  cypress.json
  package.json
Labels: github_actions

Change: ci
  .env
  .env.example
  package.json
Labels: none

Change: ci
  cypress.json
Labels: none

Change: ci
  package.json
Labels: none

merge (#411)
  .env
  .env.example
  cypress.json
  package.json
Labels: none

Update README.md
  README.md
Labels: documentaion

Update README.md
  README.md
Labels: documentaion

Main (#412)
  README.md
Labels: documentaion

Update README.md
  README.md
Labels: documentaion

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: github_actions

Chnage nodejs ci (#416)
  .github/workflows/nodejs.yml
Labels: github_actions

Merge main (#415)
  .github/workflows/nodejs.yml
  README.md
Labels: github_actions, documentaion

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: github_actions

Update nodejs.yml (#417)
  .github/workflows/nodejs.yml
Labels: github_actions

Create snyk-infrastructure.yml
  .github/workflows/snyk-infrastructure.yml
Labels: github_actions

Update and rename snyk-infrastructure.yml to snyk.yml
  .github/workflows/snyk.yml
Labels: github_actions

feature/snyk (#418)
  .github/workflows/snyk.yml
Labels: github_actions

Update triage.yml
  .github/workflows/triage.yml
Labels: github_actions

Update nodejs.yml
  .github/workflows/nodejs.yml
Labels: github_actions

Update triage.yml
  .github/workflows/triage.yml
Labels: github_actions

Update snyk.yml
  .github/workflows/snyk.yml
Labels: github_actions

Update wip.yml
  .github/workflows/wip.yml
Labels: github_actions

Update snyk.yml
  .github/workflows/snyk.yml
Labels: github_actions

Delete snyk.yml
  .github/workflows/snyk.yml
Labels: github_actions

feature/main merge (#419)
  .github/workflows/nodejs.yml
  .github/workflows/snyk.yml
  .github/workflows/triage.yml
  .github/workflows/wip.yml
Labels: github_actions

Delete nodejs.yml
  .github/workflows/nodejs.yml
Labels: github_actions

Delete nodejs.yml
  .github/workflows/nodejs.yml
Labels: github_actions

Create snyk.yml
  .github/workflows/snyk.yml
Labels: github_actions

Create nodejs.yml
  .github/workflows/nodejs.yml
Labels: github_actions

Update wip.yml
  .github/workflows/wip.yml
Labels: github_actions

Main (#421)
  .github/workflows/nodejs.yml
  .github/workflows/wip.yml
Labels: github_actions

Change: gitignore
  .gitignore
Labels: none
