Repository blogmops/blogmops, pull requests merged in 2020-08, with the labels that each got.

#19 preview
  .gitignore
  .mergify.yml
Labels: github_actions, javascript

#21 beautify service-worker.js
  .github/workflows/build.yml
  .github/workflows/cypress.yml
  .mergify.yml
  src/service-worker.js
Labels: enhancement, javascript

#29 Update dependabot.yml
  .github/dependabot.yml
Labels: dependencies, enhancement, github_actions
